header .logo {
    width: 100px;
    height: auto;
}

header .logout:hover {
    cursor: pointer;
    text-decoration: underline;
}

.header-height {
    height: 100px;
}

.icon-header{
    width: 25px;
    height: auto;
    padding-bottom: 12px;
    margin-left:3px;
    margin-right: 3px;
}
