.product-item img {
    width: 250px;
    height: 300px;
    object-fit: cover;
}

.favorite-button{
    width: 25px;
}

.favorite:hover{
    fill:red;
    cursor: pointer;
}

.favorite:active{
  transform: translateY(2px);
}